body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;

    .main {
        height: 100vh;
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-columns-gap: 20px;

        & > * {
            border: 2px solid black;
        }

        .navbar {
            display: grid;
            grid-template-rows: 20% 1fr;

            .logo {
                align-self: center;
                justify-self: center;
                padding: 30px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            .menu-wrapper {
                display: grid;
                place-items: center;

                background-image: url("menu-upper.png");
                height: 100%;
                width: 100%;

                background-size: 170%;
                background-position: 120%;
                background-repeat: no-repeat;

                .menu {
                    display: grid;

                    transform: translate(-20px, -20px);

                    align-content: center;
                    justify-content: center;

                    text-align: center;

                    gap: 20px;
                    font-size: 25px;

                    .login, .logout {
                        self-align: end;
                    }
                }
            }
        }

        .posts-container {
            display: flex;
            flex-direction: column;

            padding-top: 30px;

            overflow-y: scroll;
            align-items: center;
            justify-items: center;

            .posts {
                display: flex;
                flex-direction: column;
                gap: 30px;

                width: 70%;
                justify-self: center;

                .post-wrapper {
                    display: grid;

                    background-image: url("post-behind.png");
                    background-position: center;
                    background-size: 100%;
                    background-repeat: no-repeat;

                    aspect-ratio: 1743 / 624;

                    place-items: center;

                    border: 2px black solid;

                    .post {
                        display: flex;
                        gap: 10px;

                        height: 55%;
                        width: 75%;

                        flex-direction: column;
                        border: 2px black solid;

                        .post-header {
                            display: flex;

                            justify-content: space-between;
                        }

                        .post-main {
                            overflow-y: auto;
                        }

                        .post-footer {
                            margin-top: auto;
                        }

                        & > * {
                            border: 2px black solid;
                        }
                    }
                }
            }
        }
    }
}